/* body {
    background-image: url(../assets/img/supercars-rivals_1572661142.jpg);
} */
/* *Navbar */
.navimg {
    width: 100px;
}
.navbar {
    padding: 0;
}
.row {
    margin: 0;
}
h1 {
    margin-top: 100px;
    color: red;
}
.deal {
    margin-bottom: 50px;
    width: 700px;
}

.grid_news {
    background-image: url(../assets/img/w-min.jpg);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: rgba(42, 67, 45, 1);
}
/* !Partners */
.bgimg_partners {
    background-image: url(../assets/img/hands-min.jpg);
    background-repeat: no-repeat;
}
.cont_img .img-fluid {
    max-width: 50%;
}


/* !catalog */
.bg_catalog {
    background-image: url(../assets/img/wcatalog.png);
}
.title {
    padding-top: 30px;
    font-size: 3em;
    font-weight: 600;
}
.txt_catalog {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: rgba(42, 67, 45, 1);
}


/* !Sales */
.bgimg_s {
    background-image: url(../assets/img/sbgjpg-min.jpg);
    background-repeat: no-repeat;
}
.title_l {
    margin-left: 40px;
    margin-top: 40px;
    color: white;
}
#sale .img-fluid {
    margin-top: 10px;
    max-width: 50%;
    margin-left: 160px;
}
.mr-auto  {
    margin-left: 0;
    margin-right: 0;
}
.mx-auto {
    margin-left: 0;
    margin-right: 0;
}
.title_r {
    margin-left: 60px;
    margin-top: 40px;
    color: white;
}
.img .img-fluid {
    margin-top: 30px;
}



/* !Reviews */
.bg_reviews {
    background-image: url(../assets/img/reviews-min\ \(1\).jpg);
    color: white;
}


/* !Eco */
.bg_eco .img-fluid {
    position: absolute;
}
.btn {
    background: rgba(78, 78, 78, 1);
    position: relative;
    border-radius: 50%;
    margin-top: 600px;
    margin-left: 570px;
}


/* !About */
.bgimg_a {
    background-image: url(../assets/img/BG-min.jpg);
    background-size: cover;
    position: relative;
}
.title_left {
    color: rgba(186, 0, 0, 1);
    font-weight: 600;
}
.left_a p {
    font-size: xx-large;
}
.left_a {
    background-color: rgba(58, 99, 62, 0.4);
    color: white;
}
.right {
    font-size: xx-large;
    margin-left: 300px;
    background-color: rgba(58, 99, 62, 0.4);
}
.right .img-fluid {
    margin-left: 50px   ;
    max-width: 80%;
}