/* *Navbar */
.navimg {
    width: 100px;
}
.deal {
    width: 350px;
    margin-right: 800px;
}
.navbar {
    padding: 0;
}
/* *Images from news */
.image {
    width: 300px;
}
.jumbotron {
    padding: 0;
}
.row {
    margin: 0;
}