/* body {
    background-image: url(../assets/img/supercars-rivals_1572661142.jpg);
} */
/* *Navbar */
.navimg {
    width: 100px;
}
.navbar {
    padding: 0;
}
.row {
    margin: 0;
}
h1 {
    margin-top: 100px;
    color: red;
}
.deal {
    margin-bottom: 50px;
    width: 700px;
}
.title {
    padding-top: 30px;
    font-size: 3em;
    font-weight: 600;
}
.grid_news {
    background-image: url(../assets/img/w-min.jpg);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: rgba(42, 67, 45, 1);
}
/* !Partners */
.bgimg_partners {
    background-image: url(../assets/img/hands-min.jpg);
}
